# Data curation

Goal: Process the data from the raw database to make it ready for data analysis. This new database will be called prod

In [1]:
# Data curation
import sqlite3

# Used for pretty printing
import pandas as pd

# Creating empty data base
con = sqlite3.connect("unified.db")
cur = con.cursor()

# Enable REGEX for sqlite
import re


def regexp(expr, item):
    reg = re.compile(expr)
    return reg.search(item) is not None

con.create_function("REGEXP", 2, regexp)

# Create new table and check for multiple executions
cur.execute("SELECT name FROM sqlite_master WHERE type='table' AND name='prod'")
if not cur.fetchone():  # If the fetch returns None, table does not exist
    cur.execute("CREATE TABLE prod AS SELECT * FROM initial")
    print("Table 'prod' created successfully.")
else:
    print("Table 'prod' already exists.")

Table 'prod' already exists.

## Valid sequences

Check wether sequence only contains valid amino acids and no whitespaces or any other letters not being valid AA's.

In [2]:
# This query checks if there are any symbols other the the valid aa code
pd.read_sql_query("""SELECT *
                FROM initial
                WHERE seq REGEXP '[^ARNDCEQGHILKMFPSTWYVX]'; 
""", con)
 # WHERE seq REGEXP '[^ARNDCEQGHILKMFPSTWYV]'; to not include X

,id,name,AB,description,OX,dataset,seq,seq_len
0,L11A004522,LAMP2_L11A004522,1,None,alien,LAMP2.fasta,kklaklallkwllalkklallalkk,25
1,L13A15655,LAMP2_L13A15655,1,None,alien,LAMP2.fasta,kklfkkilkyL,11
2,DRAMP20856,dramp_DRAMP20856,1,None,alien,dramp_antimicrobial.fasta,OWOWOWORPVYOPRPRPPHPRL,22
3,DRAMP20857,dramp_DRAMP20857,1,None,alien,dramp_antimicrobial.fasta,OIOIORPVYOPRPRPPHPRL,20
4,DRAMP21410,dramp_DRAMP21410,1,None,alien,dramp_antimicrobial.fasta,klckivvikvck,12
...,...,...,...,...,...,...,...,...
88,P21986,FLA3_SPIAU,0,Flagellar filament 32 kDa core protein (Fragme...,Spirochaeta aurantia OX=147,uniprot_swissprot.fasta,MIINHNMSAINANRVLGBT,19
89,P21987,FLA4_SPIAU,0,Flagellar filament 31.5 kDa core protein (Frag...,Spirochaeta aurantia OX=147,uniprot_swissprot.fasta,MIINHNMSAINANRVLGBTNADITKDL,27
90,P25072,PA21_MICTM,0,Phospholipase A2 1 (Fragment),Micrurus tener microgalbineus OX=8636,uniprot_swissprot.fasta,SLLBFKBMIEST,12
91,P35707,FLAV_NOSSM,0,Flavodoxin (Fragment),Nostoc sp. (strain MAC) OX=35822,uniprot_swissprot.fasta,SKKIGLFYGTZTGKTESVAEIIDEFGDEVVTLDID,35
92,P56531,VIT_MELGA,0,Phosvitin (Fragment),Meleagris gallopavo OX=9103,uniprot_swissprot.fasta,AELGTEPNAKTSSSSSSVSSTATSSSSSSASSPBRKKPMD,40

Problems found in seq:
* non capitalized letters
* the letter X and B in seq

Theese problems are adressed in the prod database by only allowing data conform with follwing restrictions to be added:
 * only valid amino acid seq
 * AB only being 0 or 1
 * dataset must not be null
 * seq length between 1 and 200
 * seq must be unique

# The lower case problem
This can be solved pretty easy by just replacing all the lowercase seqences with upper case ones.

In [3]:
cur.execute("""
UPDATE initial
SET seq = UPPER(seq)
WHERE seq != UPPER(seq);
""")

print(cur.fetchall())

[]

# The other constraints
Idea is to add a new col called valid. This either says yes or no including the reason why not.

In [4]:
# create col
cur.execute("""
ALTER TABLE initial
ADD COLUMN valid TEXT DEFAULT 'yes';
""")

# update col
cur.execute("""
UPDATE initial
SET valid = CASE 
    WHEN AB NOT IN (0, 1) THEN 'Invalid AB value'
    WHEN dataset IS NULL THEN 'Dataset is null'
    WHEN LENGTH(seq) < 1 OR LENGTH(seq) > 200 THEN 'Invalid seq length'
    WHEN seq REGEXP '^[ARNDCEQGHILKMFPSTWYVX]+$' THEN valid
    ELSE 'Invalid sequence characters'
END;
""")

# uniqueness check
cur.execute("""
UPDATE initial
SET valid = 'Seq must be unique'
WHERE rowid NOT IN (
    SELECT MIN(rowid)
    FROM initial
    GROUP BY seq
);
""")

# Reasons why data is rejected

In [5]:
pd.read_sql_query("SELECT COUNT(*),valid FROM initial GROUP BY valid", con)

   COUNT(*)                        valid
0        34  Invalid sequence characters
1       420           Seq must be unique
2     12410                          yes

I think we have engough data to just reject the 34 invalid sequences.

# Duplicates
Before we just reject all duplicates we need to check wether they are true duplicates meaning if they are stemming from multiple datasets or just technical replicates.

Definition used here:

**technical replicate:** if dataset and seq is a duplicate -

**duplicate:** if only seq is a duplicate but sources state the same AB

**contradictory duplicate** matching seq different source and different AB

In [6]:

# Step 1: Identify Technical Replicates
cur.execute("""
UPDATE initial
SET valid = 'technical replicate'
WHERE seq IN (
    SELECT seq
    FROM initial
    GROUP BY seq, dataset
    HAVING COUNT(*) > 1
);
""")

# Step 2: Identify Duplicates (same seq, multiple datasets, same AB)
cur.execute("""
UPDATE initial
SET valid = 'duplicate'
WHERE seq IN (
    SELECT seq
    FROM initial
    GROUP BY seq, AB
    HAVING COUNT(DISTINCT dataset) > 1
) AND valid != 'technical replicate';
""")

# Step 3: Identify Contradictory Duplicates (same seq, different AB in different datasets)
cur.execute("""
UPDATE initial
SET valid = 'contradictory duplicate'
WHERE seq IN (
    SELECT seq
    FROM initial
    GROUP BY seq
    HAVING COUNT(DISTINCT AB) > 1 AND COUNT(DISTINCT dataset) > 1
) AND valid NOT IN ('technical replicate', 'duplicate');
""")

pd.read_sql_query("SELECT COUNT(*), valid FROM initial GROUP BY valid", con)

   COUNT(*)                        valid
0        33  Invalid sequence characters
1       812      contradictory duplicate
2        20                    duplicate
3         6          technical replicate
4     11993                          yes

In [11]:
pd.read_sql_query("SELECT * FROM initial WHERE valid = 'contradictory duplicate' ORDER BY seq;", con).to_excel("contradictions.xlsx")

ModuleNotFoundError: No module named 'openpyxl'

# Contradiction check
Check wether there are multiple sources stating different AB for the same seq.

In [10]:
cur.execute("""
UPDATE initial
SET valid = 'duplicate'
WHERE seq IN (
    SELECT seq
    FROM initial
    GROUP BY seq
    HAVING COUNT(DISTINCT dataset) > 1
) AND valid != 'technical replicate';
""")


cur.execute("""
UPDATE initial
SET valid = 'contradictory duplicate'
WHERE valid = 'duplicate' AND seq IN (
    SELECT seq
    FROM initial as i1
    WHERE EXISTS (
        SELECT 1
        FROM initial as i2
        WHERE i1.seq = i2.seq
        AND i1.dataset != i2.dataset
        AND i1.AB != i2.AB
    )
);
""")
pd.read_sql_query("SELECT COUNT(*), valid FROM initial GROUP BY valid", con)

   COUNT(*)                        valid
0        33  Invalid sequence characters
1       812      contradictory duplicate
2        24                    duplicate
3         2          technical replicate
4     11993                          yes

In [16]:
pd.read_sql_query("SELECT * FROM initial WHERE valid = 'contradictory duplicate' ;", con)

DatabaseError: Execution failed on sql 'SELECT * FROM initial WHERE valid = 'contradictory duplicate' ;': no such column: valid

In [10]:
cur.execute("DROP TABLE IF EXISTS prod;")
cur.execute("""
CREATE TABLE prod (
    id TEXT,
    name TEXT,
    AB INTEGER NOT NULL CHECK (AB IN (0, 1)),
    description TEXT,
    OX TEXT,
    dataset TEXT NOT NULL,
    seq TEXT UNIQUE CHECK (seq = UPPER(seq) AND seq REGEXP '^[ARNDCEQGHILKMFPSTWYVX]+$')
);
""")
print(cur.fetchall())

[]

# PROD and rejected table
the new prod table enforces data integrity meaning data in must adhere to the restrictions mentioned above. Next step is to import the data into prod. Rejected data is sored in "rejected" for debuuging proposes.

In [26]:
# Insert data into prod
cur.execute("""
INSERT INTO rejected (id, name, AB, description, OX, dataset, seq, reason_for_rejection)
SELECT 
    id, 
    name, 
    AB, 
    description, 
    OX, 
    dataset, 
    seq, 
    CASE 
        WHEN dataset IS NULL THEN 'Dataset is NULL'
        WHEN NOT (AB IN (0, 1)) THEN 'AB is not 0 or 1'
        WHEN NOT (seq = UPPER(seq) AND seq REGEXP '^[ARNDCEQGHILKMFPSTWYVX]+$') THEN 'Seq format error'
        ELSE 'Unknown reason'  -- Handles other potential issues, such as application logic errors
    END
FROM initial
WHERE dataset IS NULL 
    OR NOT (AB IN (0, 1))
    OR NOT (seq = UPPER(seq) AND seq REGEXP '^[ARNDCEQGHILKMFPSTWYVX]+$');

""")

# To not loose data we will collect data which is rejected in a table called rejected.

## Duplicates
Check wether there are duplicates

In [20]:
pd.read_sql_query("""SELECT seq, COUNT(seq)
                FROM initial
                GROUP BY seq
                HAVING COUNT(seq) > 1;
""", con)

          seq  COUNT(seq)
0  FALALKAKKL       12864